[Unit]
Description=Service
#After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/USER/maker
ExecStart=/home/USER/projects/maker/venv/bin/python3.8 /home/USER/maker/maker.py
ExecReload=/bin/kill -HUP 
User=USER
Group=GROUP

Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target

#sudo mv . /lib/systemd/system/
#sudo sysmtemctl enable maker.py
#sudo sysmtemctl start maker.py
#sudo sysmtemctl status maker.py

